body {
    background-image: linear-gradient(#4F2683, #FFC62F);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

#clock {
    height: 100vh;
    width: 100%;
    color: #FFC62F;
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
